<app-header 
    [title]="'Registro de Clientes'">
</app-header>

<mat-stepper [linear]="true" #stepper>
    <mat-step label="Informacion personal" [stepControl]="form1">
      <app-personal-info
        (next)="next()"
        (saved)="personalInfoSaved($event)">
      </app-personal-info>
    </mat-step>
    
    <mat-step label="Direcciones" [stepControl]="form2">
      <app-address-info
        (saved)="addressInfoSaved($event)"
        ></app-address-info>
    </mat-step>

    <mat-step>
      <div class="container col-md-8 pb-5 mt-5">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="col-md-8">
                  <ng-template matStepLabel>Done</ng-template>
                  <p>You are now done.</p>
                </div>
            </div>
        </div>
      
        <div>
          <button mat-button [routerLink]="['']" routerLinkActive="router-link-active">Back to Home</button>
        </div>
      </div>  
    </mat-step>
  </mat-stepper>