<app-header [title]="'Clientes App'">
</app-header>

<main>
    <div class="upper-bar">
        <mat-card class="activos">
            <mat-card-header>
                <mat-card-title>Clientes</mat-card-title>
                <mat-card-subtitle>Activos</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <h2>{{dashboard.totalClientesActivos}}</h2>
            </mat-card-content>
        </mat-card>
        
        <mat-card class="inactivos">
            <mat-card-header>
                <mat-card-title>Clientes </mat-card-title>
                <mat-card-subtitle>Inactivos</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <h2>{{dashboard.totalClientesInactivos}}</h2>
            </mat-card-content>
        </mat-card>
        
        <mat-card class="more-addresses">
            <mat-card-header>
                <mat-card-title>Clientes </mat-card-title>
                <mat-card-subtitle>con mas de una direccion</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <h2>{{dashboard.totalClientesMasDirecciones}}</h2>
            </mat-card-content>
        </mat-card>
        
        <mat-card class="addresses">
            <mat-card-header>
                <mat-card-title>Direcciones </mat-card-title>
                <mat-card-subtitle>activas</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <h2>{{dashboard.totalDirecciones}}</h2>
            </mat-card-content>
        </mat-card>
        
        <button mat-raised-button color="primary" [routerLink]="['./registro']" routerLinkActive="router-link-active" >
            <mat-icon>add</mat-icon>
            <span>Agregar Cliente</span>
        </button>
        
    </div>
    <app-list></app-list>
</main>